# Library
earthengine_api
ee
geemap
numpy
pandas
pygal
streamlit
jupyter-server-proxy
leafmap
nbserverproxy
geopandas
owslib
# Packages
ffmpeg
gifsicle
build-essential
python3-dev
gdal-bin
libgdal-dev
streamlit-option-menu